<div class="container my-3 my-md-5">
  <form action="/records" method="post" class="main-form needs-validation" novalidate>

    <div class="fs-7">*必填欄位</div>
    <div>請輸入你的支出</div>

    <label for="name" class="col-form-label">名稱*：</label>
    <input type="text" class="form-control" name="name" id="name" value="" required>

    <label for="date" class="col-form-label">日期*：</label>
    <input type="date" class="form-control" name="date" id="date" value="" required>

    <label for="category" class="col-form-label">類別*：</label>
    <select class="form-select" name="category" id="category" date-value="" aria-label="Default select" required>
      {{#each categories}}
      <option value="{{this._id}}">{{this.title}}</option>
      {{/each}}
    </select>

    <label for="amount" class="col-form-label">金額*：</label>
    <input type="number" class="form-control" name="amount" id="amount" value="" required>

    <label for="merchant" class="col-auto col-form-label">商家：</label>
    <input type="text" class="form-control" name="merchant" id="merchant" value="">

    <div></div>
    <button type="submit" class="btn btn-outline-dark col-12">新增支出</button>

  </form>
</div>

<script src="/javascripts/records.js"></script>