
ul,
li {
  list-style-type: none; /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}

.container {
  min-width: 576px;
  max-width: 992px;
}

.total-amount {
  font-size: 3em;
  /* font-weight: bold; */
  color: var(--bs-orange);
}

.category-icon {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: #aee0ea;
  width: 40px;
}

.bg-orange {
  background-color: var(--bs-orange);
}

.nav-list {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 1rem;
}

.fs-7 {
  font-size: 0.75rem
}

#data-panel .row {
  padding: 0.3rem 0;
  border: 1px solid rgba(0,0,0,.125);
  border-width: 0 0 1px;
}

#data-panel .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}
